<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
</head>
<body>
    <div>
        <a href="write">글쓰기</a> / <a href="showList" style="color:red;">게시글 목록</a>
    </div>

    <h1>게시물 목록</h1>
    <hr>
    <ul>
        <li th:each="article : ${articles}">
            <a th:href="@{detail(id=${article.id})}">
                [[${article.id}]] / [[${article.regDate}]] / [[${article.title}]]
            </a>
        </li>
    </ul>
</body>
</html>