<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{menu/common/layout}">
<head>
    <title>게시물 목록</title>
</head>
<main layout:fragment="main" class="mt-[20px]">

    <h1 class="container mx-auto font-bold text-[1.3rem]">게시물 목록</h1>
    <ul class="container mx-auto">
        <li th:each="article : ${articles}"  class="label">
            <a th:href="@{detail(id=${article.id})}">
                [[${article.id}]] / [[${article.regDate}]] / [[${article.title}]]
            </a>

        </li>
    </ul>
</main>
</html>