<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{menu/common/layout}">
<head>
    <title>게시물 수정</title>
</head>
<main layout:fragment="main" class="mt-[20px]">

    <h2 class="container mx-auto font-bold text-[1.3rem]">게시물 수정</h2>

    <form action="doModify" method="post" class="container mx-auto">
        <div class="mt-[10px]">
            <input type="hidden" name="id" th:value="${article.id}">
            [[${article.id}]]번 글
        </div>
        <div class="mt-[10px]">
            <div>제목 : <input type="text" name="title" th:value="${article.title}" placeholder="새 제목을 입력해주세요."></div>
        </div>
        <div class="mt-[10px]">
            <div>내용 : <textarea name="body" th:text="${article.body}" placeholder="새 내용을 입력해주세요."></textarea></div>
        </div>
        <div>
            <div class="mt-[20px]">
                <input type="submit" value="수정" class="btn btn-primary">
                <a class="btn btn-primary" th:href="@{detail(id=${article.id})}">돌아가기</a>
            </div>
        </div>
    </form>
</main>
</html>