<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{menu/common/layout}">
<head>
    <title>게시물 수정</title>
</head>
<main layout:fragment="main" class="mt-[20px]">

    <h2 class="container mx-auto font-bold text-[1.3rem] px-[10px]">[[${article.id}]]번글 수정</h2>

    <form action="doModify" method="post" class="container mx-auto px-[10px]">
        <input type="hidden" name="id" th:value="${article.id}">

        <div class="form-control mt-[10px]">
            <label class="label">
                <span class="label-text">제목</span>
            </label>
            <input type="text"required name="title" th:value="${article.title}" placeholder="제목을 입력해주세요." class="input input-bordered w-full max-w-xs" maxlength="100">
        </div>

        <div class="form-control mt-[10px]">
            <label class="label">
                <span class="label-text">내용</span>
            </label>
            <textarea required name="body" th:text="${article.body}" placeholder="내용을 입력해주세요." class="textarea textarea-bordered w-full max-w-xs" rows="10"></textarea>
        </div>

        <div>
            <div class="mt-[20px]">
                <input type="submit" value="수정" class="btn btn-primary btn-sm">
                <a class="btn btn-sm" th:href="@{detail(id=${article.id})}">글본문</a>
            </div>
        </div>
    </form>
</main>
</html>