<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{menu/common/layout}">
<head>
    <title>게시물 작성</title>
</head>
<main layout:fragment="main" class="mt-[20px]">

    <h2 class="container mx-auto font-bold text-[1.3rem]">게시물 작성</h2>

    <form action="doWrite" method="post" class="container mx-auto">
        <div  class="form-control mt-[10px]">
            <label class="label">
                <span class="label-text">제목</span>
            </label>
            <input class="input input-bordered w-full max-w-xs" maxlength="50" type="text" name="title" placeholder="제목을 입력해주세요.">
        </div>
        <div>
            <label class="label">
                <span class="label-text">내용</span>
            </label>
            <textarea class="input input-bordered w-full max-w-xs" maxlength="50" name="body" placeholder="내용을 입력해주세요."></textarea>
        </div>
        <div class="mt-[20px]">
            <input type="submit" value="작성" class="btn btn-primary">
        </div>
    </form>
</main>
</html>