<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{menu/common/layout}">
<head>
    <title>회원정보</title>
</head>
<main layout:fragment="main" class="mt-[20px]">

    <h1 class="container mx-auto font-bold text-[1.3rem]">회원정보</h1>

    <div class="container mx-auto">
        <div class="mt-[15px] mb-[15px]">
            <div class="my-[5px]">
                <div >회원번호 : [[${user.id}]]번</div>
            </div>
            <div class="my-[5px]">
                <div>이메일 : [[${user.email}]]</div>
            </div>
            <div class="my-[5px]">
                <div>가입일 : [[${#strings.substring(user.regDate,0, 10)}]]</div>
            </div>
            <div class="my-[5px]">
                <div>이름 : [[${user.name}]]</div>
            </div>

            <div class="flex ml-[5px] mt-[15px]">
                <div><a href="/menu/user/modify" class="btn btn-sm btn-primary block p-[10px] hover:text-[red] mr-[10px]">회원정보 수정</a></div>
            </div>
        </div>
    </div>
</main>
</html>