<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{menu/common/layout}">
<head>
    <title>회원정보 수정</title>
</head>
<main layout:fragment="main">

    <h2>회원정보 수정</h2>

    <form action="doModify" method="post">
        <div>
            [[${user.id}]]번 회원
        </div>
        <div>
            <div>새 이메일 : <input type="text" name="password" th:value="${user.email}" placeholder="새 이메일을 입력해주세요."></div>
        </div>
        <div>
            <div>
                <input type="submit" value="수정" class="btn btn-primary btn-sm">
                <a class="btn btn-sm" href="/">취소</a>
            </div>
        </div>
    </form>
</main>
</html>